/* Styles from BaseLibrary */
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

// Make disabled form field text more readable
.mat-mdc-form-field input[disabled],
.mat-mdc-form-field textarea[disabled],
.mat-mdc-form-field .mat-mdc-select-disabled .mat-mdc-select-value {
  color: rgba(0, 0, 0, 0.87);
  -webkit-text-fill-color: rgba(0, 0, 0, 0.87);
}
